.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 12px;
  border-radius: 4px;
  width: 250px;
}

.search-icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1c1c1c;
  border: 1px solid #444;
  max-height: 300px;
  overflow-y: auto;
  z-index: 20;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 8px;
  transition: background 0.2s;
}

.search-result-item:hover {
  background-color: #333;
}

.search-result-poster {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.search-result-info h4 {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.search-result-info span {
  font-size: 12px;
  color: #aaa;
}
